*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.float{
    float: left;
}

.main-container{
    width: 100%;
    height: 100vh;
    background-color: beige;
    position: relative;
}

.back-top, .back-bottom{
    width: 100%;
}

.back-top{
    height: 20%;
    background-color: #009688;
}

.back-bottom{
    height: 80%;
    background-color: #d7dbd8;
}

.main-box{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 222;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    overflow: hidden;
}

.box-right, .box-left{
    height: 100%;
}

.box-left{
    width: 30%;
    background-color: #ededed;
    border: 1px solid #cccccc;
}

.box-right{
    width: 70%;
    background-image: url(../img/mine.jpg);
    background-repeat: repeat;
    background-size: contain;
}

.box-cronology ul{
    list-style: none;
}

.box-top{
    height: 80px;
    width: 100%;
    padding: 15px;
    background-color: #ededed;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.user, .user-nav{
    display: flex;
    align-items: center;
}

.user-nav{
    justify-content: space-between;
    gap: 10px;
}

.user-nav i{
    color: rgb(97, 97, 97);
    font-size: 1.2em;
}

.box-top img, .avatar img{
    height: 60px;
    border-radius: 50%;
    border: 1px solid #cccccc;
}

.box-top h2{
    display: inline-block;
    margin-left: 12px;
    font-size: 1.2em;
}

.box-alert{
    min-height: 100px;
    width: 100%;
    padding: 15px;
    background-color: #8EDAFC;
    display: flex;
    align-items: center;
}

.alert-off{
    height: 60px;
    min-width: 60px;
    border-radius: 50%;
    background-color: #F2FBFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.alert-off i{
    color: #8EDAFC;
    font-size: 1.5em;
}

.alert-text{
    margin-left: 12px;
}

.alert-text h3{
    font-size: 1.2em;
}

.alert-text a{
    color: rgb(97, 97, 97);
}

.box-search{
    height: 60px;
    width: 100%;
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
    padding: 15px;
    position: relative;
}

.box-search input{
    height: 35px;
    border: none;
    border-radius: 20px;
    width: 100%;
    text-align: center;
}

.box-search i{
    position: absolute;
    top: 35%;
    left: 8%;
    color: rgb(97, 97, 97);
}

.box-cronology{
    width: 100%;
    height: calc(100% - 60px - 100px - 80px);
    background-color: white;
    padding: 15px;
    overflow-y: auto;
}